.menu {
    height: calc(100% - 90px);
    float: left;
    border-right: 1px solid darkgray;
    box-sizing: border-box;
    z-index: 999;
}
.menu div {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid darkgray;
    padding: 35px 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu div:hover {
    background: linear-gradient(#ff951c, #ea7d00);
    background-color: #d67200;
    box-shadow: 0 1px 1px #ffb45e;
    color: #fff;
    font-weight: bold;
}
.menu div:active {
    background: linear-gradient(#d47c18, #bd6501);
    background-color: #af5e01;
    box-shadow: 0 1px 1px #ce914c;
    color: #fff;
    font-weight: bold;
}
.menu .sel {
    background: linear-gradient(#ff951c, #ea7d00);
    background-color: #d67200;
    box-shadow: 0 1px 1px #ffb45e;
    color: #fff;
    font-weight: bold;
}
#menubar {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
}
#mmenubar {
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    color: black;
}

.mmenu {
    height: calc(100% - 90px);
    float: left;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
}
.mmenu div {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid darkgray;
    padding: 20px 15px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
}
.mmenu div:hover {
    background: linear-gradient(#ff951c, #ea7d00) !important;
    background-color: #d67200 !important;
    box-shadow: 0 1px 1px #ffb45e !important;
    color: #fff !important;
    font-weight: bold;
}
.mmenu div:active {
    background: linear-gradient(#d47c18, #bd6501) !important;
    background-color: #af5e01 !important;
    box-shadow: 0 1px 1px #ce914c !important;
    color: #fff !important;
    font-weight: bold;
}
.mmenu .sel {
    background: linear-gradient(#ff951c, #ea7d00) !important;
    background-color: #d67200 !important;
    box-shadow: 0 1px 1px #ffb45e !important;
    color: #fff !important;
    font-weight: bold;
}