body {
    margin: 0;
    width: 100%;
    height: 100%;
}
.top {
    width: 100%;
    height: 90px;
    background: linear-gradient(#ff951c, #ea7d00);
    background-color: #d67200;
    box-shadow: 0 1px 1px #ffb45e;
    color: #fff;
    font-weight: bold;
    min-width: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 !important;
}
.tgcolor {
    background: linear-gradient(#45bbff, #238be0) !important;
    background-color: #6198ca !important;
    box-shadow: 0 1px 1px #92affd !important;
}
.logo {
    font-size: 50px;
    position: absolute;
    left: 50px;
}
.exp {
    text-align: center;
}
.exp span {
    font-size: 45px;
}